/*========================= TabPane =========================*/

.tabs {
  display: flex;
  flex-direction: column;
}

.tabs {
  > header {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    border-bottom: solid 1px #cccccc;
  }

  > header {
    > .tab {
      cursor: pointer;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      position: relative;
      top: 1px;
    }

    > .tab[active=yes] {
      font-weight: bold;
      border-bottom: solid 3px #000000;
    }
  }

  > .panels {
    display: flex;
  }

  > .panels {
    > .panel {
      flex-grow: 1;
      display: none;
      padding: 10px;
    }

    > .panel[active=yes] {
      display: block;
    }
  }
}


/*========================= SplitPane =========================*/

.splitpane {
  border: solid 1px #cccccc;
  height: calc(100% - 2px);
  display: flex;
  flex-direction: row;
}

.splitpane { 
  > .leftside {
    width: 20%;
    flex-grow: 0;
  }

  > .resizer {
    width: 4px;
    background-color: #000000;
  }

  > .resizer:hover {
    cursor: col-resize;
  }

  > .rightside {
    flex-grow: 1;
  }
}


/*========================= Tree =========================*/

.collapsable {
  > header {
    display: flex;
  }

  > header > .hidedetails,
  > header > .showdetails {
    font-weight: bold;
    cursor: pointer;
    margin-right: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
  }

  &.collapsed > header > .hidedetails {
    display: none;
  }	

  &.expanded > header > .showdetails {
    display: none;
  }

  > header > title {
    display: block;
    padding-top: 3px;
  }

  > section {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
  }

  &.collapsed > section {
    display: none;
  }

  &.isLeaf > header {
    > .hidedetails,
    > .showdetails {
      display: none;
    }
  }	
}


/*========================= Grid =========================*/

.grid {
  display: grid;
  border: solid 1px #dddddd;
}

.grid {
  > div {
    box-sizing: border-box;
    padding-left: 2px;
  }

  > .row-even {
    background-color: #dddddd;
  }

  &.has-header .row0 {
    border-left: solid 1px #000000;
    background-color: #cccccc;
    font-weight: bold; 

    :first-child {
      border-left: 0px;
    }
  }
}


/*========================= MediaViewer =========================*/

@keyframes fadein-media-from-center1 {
  from {
    opacity: 0;
    top: 45%;
    left: 45%;
    width: 10%;
    height: 10%;
  }
  to {
    opacity: 1;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
  }
}

@keyframes fadein-media-from-center2 {
  from {
    opacity: 0;
    top: 45%;
    left: 45%;
    width: 10%;
    height: 10%;
  }
  to {
    opacity: 1;
    top: 30%;
    left: 2.5%;
    width: 95%;
    height: 40%;
  }
}

.media-viewer {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-row: 100px;
  grid-gap: 20px;
}

.media-viewer {
  video,
  img {
    box-sizing: border-box;
    width: 200px;
    height: 100px;
  }

  video.selected,
  video:hover,
  img.selected,
  img:hover {
    border: solid 2px #64B1F5;
    padding: 2px;
  }

  .magnified-media {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 20;
    width: 100vw;
    height: 100vh;
  }

  .magnified-media {
    > .cover {
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 1;
      width: 100vw;
      height: 100vh;
      background-color: #333333;
      opacity: 0.65;
    }

    > video,
    > img {
      position: absolute;
      z-index: 2;
      animation-name: fadein-media-from-center1;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }
}

@media screen and (max-device-width: 800px) {
}

@media screen and (max-device-width: 850px) and (orientation:portrait) {
  .media-viewer > .magnified-media {
    > video,
    > img {
      animation-name: fadein-media-from-center2;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }
}

@media screen and (max-device-width: 500px) {
  .media-viewer {
    display: flex;
    flex-direction: column;
  }

  .media-viewer {
    video,
    img {
      margin-bottom: 10px;
      width: 200px;
      height: 100px;
    }
  }
}

@media screen and (max-device-width:500px) and (orientation:portrait) {
  .media-viewer > .magnified-media {
    > video,
    > img {
      animation-name: fadein-media-from-center2;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }
}
