.grid {
  display: grid;
  border: solid 1px #dddddd;
}

.grid {
  > div {
    box-sizing: border-box;
    padding-left: 2px;
  }

  > .row-even {
    background-color: #dddddd;
  }

  &.has-header .row0 {
    border-left: solid 1px #000000;
    background-color: #cccccc;
    font-weight: bold; 

    :first-child {
      border-left: 0px;
    }
  }
}
