
/*========================= Grid =========================*/

.grid {
  display: grid;
  border: solid 1px #dddddd;
}

.grid {
  > div {
    box-sizing: border-box;
    border-bottom: solid 1px #dddddd;
    padding-left: 6px;
    padding-right: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
  }

  > .row-even {
    background-color: #dddddd;
    background-color: #ffffff;
  }

  &.multi-select .column0 .grid-checkbox {
    display: flex;
    flex-direction: row;
    border: solid 0px #00ff00;
    align-items: center;
  }

  &.has-header .row0 {
    border-left: solid 1px #000000;
    background-color: #cccccc;
    font-weight: bold; 
    cursor: auto;

    :first-child {
      border-left: 0px;
    }
  }

  > .highlighted-row,
  > .selected-row {
    background-color: lightblue;
  }

  > .no-items {
    grid-column: 1/-1;
    border: solid 0px red;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
